backend/src/main/resources/wsdl/Resenje.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.ftn.uns.ac.rs/resenje"
                  xmlns:tns="http://www.ftn.uns.ac.rs/resenje"
                  name="ResenjeService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ftn.uns.ac.rs/resenje" schemaLocation="../documents/xsd_documents/resenje.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getResenjeRequest">
        <wsdl:part name="id" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getResenjeResponse">
        <wsdl:part name="resenje_response" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="getAllRequest"/>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="response" type="xsd:string" />
    </wsdl:message>

    <wsdl:portType name="ResenjeServicePortType">
        <wsdl:operation name="getResenjeById">
            <wsdl:input message="tns:getResenjeRequest" />
            <wsdl:output message="tns:getResenjeResponse" />
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAllRequest" />
            <wsdl:output message="tns:getAllResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ResenjeServiceSoapBinding" type="tns:ResenjeServicePortType">
        <soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getResenjeById">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="ResenjeService">
        <wsdl:port name="ResenjeServiceSoapBinding" binding="tns:ResenjeServiceSoapBinding">
            <soap:address location="http://localhost:8080/ResenjePort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>